.footer {
    background-image: url(../img/footer.png);
    background-position: center top;
    background-size: cover;
    // border-top: 1px solid lightgray;
    margin-top: 20px;
    padding: 10px 0;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    &__container {
        max-width: 1400px;
        width: 95%;
        margin: auto;

        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        flex-direction: column;

        @media only screen and (min-width: 768px) {
            flex-direction: row;
            align-items: center;
        }

        > * {
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}
