.nav-main {
    ul {
        display: flex;
        list-style-type: none;
        justify-content: right;
        gap: 15px;
        padding-left: 0;
        margin: 0;

        li {
            a {
                text-decoration: none;

                &:hover {
                    background-color: blue;
                }
            }
        }
    }
}
