.rooms {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__single {
        width: 100%;
        max-width: calc(20% - 16px);
        border: 1px solid transparent;
        transition: border 0.3s;

        &:hover {
            border: 1px solid black;
        }

        a {
            text-decoration: none;
        }

        &__img {
        }

        &__name {
            display: block;
        }

        &__city {
            display: block;
        }
    }
}
